/*
Syntax error: Undefined variable: "$color_dark".
        on line 5 of /Users/kristinaschneider/Projects/2013.jsconf.eu/sass/imports/main.scss

1: /Users/kristinaschneider/Projects/2013.jsconf.eu/sass/imports/main.scss

Backtrace:
/Users/kristinaschneider/Projects/2013.jsconf.eu/sass/imports/main.scss:5
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/script/variable.rb:49:in `_perform'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/script/node.rb:40:in `perform'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:296:in `visit_prop'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:146:in `block (2 levels) in compile'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:132:in `timed'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:145:in `block in compile'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/logger.rb:46:in `red'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:144:in `compile'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:124:in `compile_if_required'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:109:in `block (2 levels) in run'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:107:in `each'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:107:in `block in run'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:132:in `timed'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:106:in `run'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/watcher/compiler.rb:24:in `compile'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/1.9.1/forwardable.rb:182:in `compile'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/watcher/project_watcher.rb:89:in `sass_modified'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/watcher/project_watcher.rb:82:in `sass_callback'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/watcher/watch.rb:17:in `call'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/watcher/watch.rb:17:in `run_callback'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/watcher/project_watcher.rb:75:in `block (2 levels) in listen_callback'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/watcher/project_watcher.rb:74:in `each'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/watcher/project_watcher.rb:74:in `block in listen_callback'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/watcher/project_watcher.rb:73:in `each'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/lib/compass/watcher/project_watcher.rb:73:in `listen_callback'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/listen-0.5.3/lib/listen/listener.rb:190:in `call'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/listen-0.5.3/lib/listen/listener.rb:190:in `on_change'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/listen-0.5.3/lib/listen/listener.rb:199:in `block in initialize_adapter'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/listen-0.5.3/lib/listen/adapter.rb:196:in `call'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/listen-0.5.3/lib/listen/adapter.rb:196:in `report_changes'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/listen-0.5.3/lib/listen/adapter.rb:208:in `poll_changed_dirs'
/Users/kristinaschneider/Projects/debtapp/ext/lib/ruby/gems/1.9.1/gems/listen-0.5.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$color_dark\".\A         on line 5 of /Users/kristinaschneider/Projects/2013.jsconf.eu/sass/imports/main.scss\A \A 1: /Users/kristinaschneider/Projects/2013.jsconf.eu/sass/imports/main.scss"; }
