/* --------------- Screens bigger than 580px ----------- */
@media only screen and (min-width: 580px) {
  /* line 3, ../../sass/imports/mobile.scss */
  body {
    font-size: 100%;
  }

  /* line 6, ../../sass/imports/mobile.scss */
  .social_nav {
    float: left;
    clear: both;
    margin-bottom: 0;
  }
  /* line 10, ../../sass/imports/mobile.scss */
  .social_nav li {
    display: block;
    margin: 0;
  }

  /* line 16, ../../sass/imports/mobile.scss */
  nav li {
    padding: .2em 1em;
  }

  /* line 22, ../../sass/imports/mobile.scss */
  .button,
  .button:link,
  .button:visited {
    display: block;
  }

  /* line 25, ../../sass/imports/mobile.scss */
  .tickets {
    float: right;
    overflow: hidden;
  }

  /* line 29, ../../sass/imports/mobile.scss */
  .social_nav, .ticket_info {
    font-size: .875em;
  }
}
/* --------------- Screens bigger than 768px ----------- */
@media only screen and (min-width: 768px) {
  /* line 37, ../../sass/imports/mobile.scss */
  .main_column {
    width: 100%;
    overflow: hidden;
    padding: 1.5em 4%;
  }
}
/* --------------- Screens bigger than 1280px ----------- */
/*
  fixed header layout
*/
@media only screen and (min-width: 1280px) {
  /*  .top {
      position: fixed;
      top: 0;
      z-index: 1;
      background-size: auto;
    }
    .main {
      margin-top: 500px;
      position: relative;
      z-index: 2;
    }
    aside {
      float: right;
      width: 30%;
      min-width: 282px;
    }
    .main_column {
      width: 100%;
      overflow: hidden;
      padding: 1.5em 4%;
    }*/
  /* line 71, ../../sass/imports/mobile.scss */
  .stage {
    min-height: 400px;
  }

  /* line 74, ../../sass/imports/mobile.scss */
  .social_nav, .ticket_info {
    font-size: 1em;
  }
}
