/* Colors */
/* main jsconfeu pink */
/* almost black */
/* line 1, ../sass/imports/reset.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 2, ../sass/imports/reset.scss */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 3, ../sass/imports/reset.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 4, ../sass/imports/reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 5, ../sass/imports/reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}

/* line 6, ../sass/imports/reset.scss */
table, th, td {
  vertical-align: top;
}

/* line 7, ../sass/imports/reset.scss */
a img {
  border: none;
}

/* line 8, ../sass/imports/reset.scss */
input:focus {
  outline: 0;
}

/* line 10, ../sass/imports/reset.scss */
strong, b, dfn {
  font-weight: bold;
}

/* line 11, ../sass/imports/reset.scss */
em, i, dfn {
  font-style: italic;
}

/* line 12, ../sass/imports/reset.scss */
sup, sub {
  line-height: 0;
}

/* line 13, ../sass/imports/reset.scss */
pre, code, tt {
  font: 1em Menlo, "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 1, ../sass/imports/main.scss */
body {
  font-size: 87.5%;
  margin: 0 auto;
  line-height: 1.5;
  color: #012019;
  background-color: #fbf6ef;
}

/* fonts */
/* line 11, ../sass/imports/main.scss */
body, input, textarea {
  font-family: "rooney-web", Georgia, serif;
}

/* line 14, ../sass/imports/main.scss */
h1, h2, h3, h4, h5, nav, .button {
  font-family: "p22-underground-sc", sans-serif;
  font-weight: bold;
}

/* line 20, ../sass/imports/main.scss */
.main h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
}

/* line 25, ../sass/imports/main.scss */
h2 {
  font-size: 2em;
  margin: 1.5em 0 0.5em 0;
}

/* line 29, ../sass/imports/main.scss */
h3 {
  font-size: 1.714em;
  margin-bottom: .5em;
}

/* line 33, ../sass/imports/main.scss */
h4 {
  font-size: 1.429em;
  margin-bottom: .5em;
}

/* line 41, ../sass/imports/main.scss */
.container {
  margin: 0 auto;
  padding: 0 2%;
  min-width: 280px;
  max-width: 1280px;
}

/* line 48, ../sass/imports/main.scss */
.header {
  overflow: hidden;
  padding: 1em 0;
  background-color: #fbf6ef;
  color: #4c0025;
}

/* line 55, ../sass/imports/main.scss */
.social_nav {
  margin-bottom: 1em;
  list-style: none;
  font-size: .75em;
  text-align: center;
}
/* line 60, ../sass/imports/main.scss */
.social_nav li {
  display: inline;
  margin: 0 1em;
  text-align: left;
}
/* line 65, ../sass/imports/main.scss */
.social_nav a {
  display: inline-block;
  padding: 0.25em 0;
}

/* line 72, ../sass/imports/main.scss */
.tickets_on {
  display: none;
}

/* line 76, ../sass/imports/main.scss */
.ticket_info {
  margin-bottom: 0;
  text-align: center;
}
/* line 79, ../sass/imports/main.scss */
.ticket_info i {
  display: block;
  font-size: .75em;
}

/* line 86, ../sass/imports/main.scss */
.button,
.button:link,
.button:visited {
  display: none;
  margin: 0 auto 0.25em 0;
  padding: 0.5em 1em;
  font-size: 1.5em;
  background-color: #e10079;
  color: #FFF;
  border: 0;
  border-radius: .25em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  cursor: pointer;
}
/* line 100, ../sass/imports/main.scss */
.button:hover, .button:focus,
.button:link:hover,
.button:link:focus,
.button:visited:hover,
.button:visited:focus {
  background-color: #fe006b;
  color: #FFF;
}
/* line 104, ../sass/imports/main.scss */
.button span,
.button:link span,
.button:visited span {
  font-size: 2em;
  padding-right: .25em;
  vertical-align: middle;
}

/* line 112, ../sass/imports/main.scss */
.tickets_off .button, .tickets_off .button:link, .tickets_off .button:visited, .tickets_off .button:hover, .tickets_off .button:focus {
  background: #f5e8d7;
  color: #FFF;
  cursor: default;
}

/* stage */
/* line 122, ../sass/imports/main.scss */
.stage {
  border-top: 1em solid #f5e8d7;
  border-bottom: 1em solid #f5e8d7;
  overflow: hidden;
}

/* line 128, ../sass/imports/main.scss */
.logo {
  margin: 1em 0;
  float: right;
  position: relative;
  height: 18.3em;
  width: 18.3em;
}
/* line 134, ../sass/imports/main.scss */
.logo .ico-logo, .logo .ico-circle {
  position: absolute;
}
/* line 137, ../sass/imports/main.scss */
.logo .ico-logo {
  font-size: 12em;
  right: 0;
  bottom: 0;
}
/* line 142, ../sass/imports/main.scss */
.logo .ico-circle {
  color: #FFF;
  font-size: 12em;
  top: 0;
  left: 0;
}

/* line 150, ../sass/imports/main.scss */
.logo:hover .ico-circle {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: spin;
  -moz-animation-duration: 500ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-name: spin;
  -ms-animation-duration: 500ms;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: ease-in-out;
  -o-transition: rotate(3600deg);
}

@-moz-keyframes spin {
  /* line 167, ../sass/imports/main.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 168, ../sass/imports/main.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  /* line 171, ../sass/imports/main.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 172, ../sass/imports/main.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  /* line 175, ../sass/imports/main.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 176, ../sass/imports/main.scss */
  to {
    transform: rotate(360deg);
  }
}

/* line 181, ../sass/imports/main.scss */
.stage {
  width: 100%;
  overflow: hidden;
  background: #012019 no-repeat 50% 0;
}

/* line 186, ../sass/imports/main.scss */
.background0 .stage {
  background-image: url("/img/top_bollocks.jpg");
  background-position: 50% 70%;
  background-color: #34003e;
}

/* line 191, ../sass/imports/main.scss */
.background1 .stage {
  background-image: url("/img/top_draw.jpg");
  background-position: 50% 70%;
  background-color: #929196;
}

/* line 196, ../sass/imports/main.scss */
.background2 .stage {
  background-image: url("/img/top_group.jpg");
  background-position: 50% 40%;
}

/* line 200, ../sass/imports/main.scss */
.background3 .stage {
  background-image: url("/img/top_mandy_jed.jpg");
  background-position: 50% 40%;
  background-color: #440b40;
}

/* line 205, ../sass/imports/main.scss */
.background4 .stage {
  background-image: url("/img/top_disco.jpg");
  background-position: 50% 50%;
  background-color: #440b40;
}

/* line 210, ../sass/imports/main.scss */
.background5 .stage {
  background-image: url("/img/top_fragment.jpg");
  background-position: 50% 70%;
  background-color: #004bcc;
}

/* line 215, ../sass/imports/main.scss */
.background6 .stage {
  background-image: url("/img/top_bubble.jpg");
  background-position: 50% 70%;
  background-color: #670141;
}

/* line 220, ../sass/imports/main.scss */
.background7 .stage {
  background-image: url("/img/top_punk.jpg");
  background-repeat: repeat;
}

/* line 224, ../sass/imports/main.scss */
.background8 .stage {
  background-image: url("/img/top_pattern.jpg");
  background-position: 50% 60%;
  background-color: #94ced5;
}

/* main content area */
/* line 233, ../sass/imports/main.scss */
nav {
  text-transform: uppercase;
  letter-spacing: .05em;
}

/* sponsors */
/* line 238, ../sass/imports/main.scss */
.sponsors {
  padding: 2em 0;
  border-top: 1px solid #f5e8d7;
  background: #FFF;
}

/* footer */
/* line 245, ../sass/imports/main.scss */
footer {
  padding: 2em 0;
  border-top: 0.5em solid #c6e3d9;
  background: #4c0025;
  color: #FFF;
  text-align: right;
}

/* typography in main content area */
/* line 255, ../sass/imports/main.scss */
.main_column p, .main_column ul, .main_column ol, .main_column dl, .main_column hr, .main_column address {
  margin-bottom: 1.5em;
}
/* line 259, ../sass/imports/main.scss */
.main_column ul {
  list-style: none;
}
/* line 261, ../sass/imports/main.scss */
.main_column ul li {
  position: relative;
  margin-left: 1.5em;
  padding-left: 1.5em;
  text-indent: -.7em;
}
/* line 267, ../sass/imports/main.scss */
.main_column ul > li:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: .6em;
  left: -1.5em;
  width: 1em;
  height: 5px;
  background-color: #c6e3d9;
}
/* line 278, ../sass/imports/main.scss */
.main_column .schedule_list {
  margin-bottom: 4.5em;
}
/* line 280, ../sass/imports/main.scss */
.main_column .schedule_list li {
  margin-left: 0;
  margin-bottom: 1.5em;
  padding: 1em;
  border-top: 0.1875em solid #c6e3d9;
  text-indent: 0;
  background-color: #f9fcfb;
}
/* line 289, ../sass/imports/main.scss */
.main_column .schedule_list > li:before {
  display: none;
}
/* line 292, ../sass/imports/main.scss */
.main_column .schedule_list i {
  display: block;
  color: #74b4b0;
  font-style: italic;
}

/* line 303, ../sass/imports/main.scss */
blockquote {
  margin: 2.5em 1.5em 3em;
  color: #4c0025;
}
/* line 306, ../sass/imports/main.scss */
blockquote p {
  font-style: italic;
}

/* links */
/* line 315, ../sass/imports/main.scss */
a,
a:link,
a:visited {
  color: #e10079;
  text-decoration: none;
  -webkit-transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

/* line 323, ../sass/imports/main.scss */
a:hover,
a:active,
a:focus {
  outline: none;
  color: #fe006b;
  text-decoration: none;
}

/* line 331, ../sass/imports/main.scss */
nav ul {
  margin: 1em 0;
  text-align: center;
}
/* line 335, ../sass/imports/main.scss */
nav li {
  display: inline-block;
  padding: 0.2em 0.5em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: bold;
}

/* line 343, ../sass/imports/main.scss */
.main {
  padding: 3em 0;
}

/* line 347, ../sass/imports/main.scss */
.main_column {
  max-width: 640px;
  margin: 0 auto;
  background: #FFF;
  overflow: hidden;
}

/* line 354, ../sass/imports/main.scss */
section {
  margin: 0 0 4.5em 0;
  padding: 0 3%;
  clear: both;
}

/* line 361, ../sass/imports/main.scss */
article {
  margin-bottom: 4.5em;
}
/* line 363, ../sass/imports/main.scss */
article header {
  margin-bottom: 1em;
  border-bottom: 0.1875em solid #c6e3d9;
}

/* fluid iframes */
/* line 370, ../sass/imports/main.scss */
.embed_container {
  position: relative;
  margin-bottom: 1.5em;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 380, ../sass/imports/main.scss */
.embed_container iframe,
.embed_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 388, ../sass/imports/main.scss */
.person {
  position: relative;
  display: inline-block;
  margin-right: 2em;
}
/* line 392, ../sass/imports/main.scss */
.person span {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: #fbf6ef;
}
/* line 398, ../sass/imports/main.scss */
.person a {
  color: #fbf6ef;
}

/* line 403, ../sass/imports/main.scss */
.date {
  color: #74b4b0;
  font-size: .875em;
  font-style: italic;
}

@font-face {
  font-family: 'jsconfeu';
  src: url("/fonts/jsconfeu.eot");
  src: url("/fonts/jsconfeu.eot?#iefix") format("embedded-opentype"), url("/fonts/jsconfeu.woff") format("woff"), url("/fonts/jsconfeu.ttf") format("truetype"), url("/fonts/jsconfeu.svg#jsconfeu") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 13, ../sass/imports/icons.scss */
[data-icon]:before {
  font-family: 'jsconfeu';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ico-"] {
*/
/* line 30, ../sass/imports/icons.scss */
.ico-arrow-left, .ico-arrow-right, .ico-twitter, .ico-facebook, .ico-feed, .ico-google-plus, .ico-github-alt, .ico-youtube, .ico-circle, .ico-logo, .ico-ticket {
  font-family: 'jsconfeu';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 40, ../sass/imports/icons.scss */
.ico-arrow-left:before {
  content: "\2190";
}

/* line 43, ../sass/imports/icons.scss */
.ico-arrow-right:before {
  content: "\2192";
}

/* line 46, ../sass/imports/icons.scss */
.ico-twitter:before {
  content: "\74";
}

/* line 49, ../sass/imports/icons.scss */
.ico-facebook:before {
  content: "\66";
}

/* line 52, ../sass/imports/icons.scss */
.ico-feed:before {
  content: "\72";
}

/* line 55, ../sass/imports/icons.scss */
.ico-google-plus:before {
  content: "\2b";
}

/* line 58, ../sass/imports/icons.scss */
.ico-github-alt:before {
  content: "\67";
}

/* line 61, ../sass/imports/icons.scss */
.ico-youtube:before {
  content: "\79";
}

/* line 64, ../sass/imports/icons.scss */
.ico-circle:before {
  content: "\78";
}

/* line 67, ../sass/imports/icons.scss */
.ico-logo:before {
  content: "\6c";
}

/* line 70, ../sass/imports/icons.scss */
.ico-ticket:before {
  content: "\73";
}

/* --------------- Screens bigger than 580px ----------- */
@media only screen and (min-width: 580px) {
  /* line 3, ../sass/imports/mobile.scss */
  body {
    font-size: 100%;
  }

  /* line 6, ../sass/imports/mobile.scss */
  .social_nav {
    float: left;
    clear: both;
    margin-bottom: 0;
  }
  /* line 10, ../sass/imports/mobile.scss */
  .social_nav li {
    display: block;
    margin: 0;
  }

  /* line 16, ../sass/imports/mobile.scss */
  nav li {
    padding: 0.2em 1em;
  }

  /* line 22, ../sass/imports/mobile.scss */
  .button,
  .button:link,
  .button:visited {
    display: block;
  }

  /* line 25, ../sass/imports/mobile.scss */
  .tickets {
    float: right;
    overflow: hidden;
  }

  /* line 29, ../sass/imports/mobile.scss */
  .social_nav, .ticket_info {
    font-size: .875em;
  }
}
/* --------------- Screens bigger than 768px ----------- */
@media only screen and (min-width: 768px) {
  /* line 37, ../sass/imports/mobile.scss */
  .main_column {
    width: 100%;
    overflow: hidden;
    padding: 1.5em 4%;
  }
}
/* --------------- Screens bigger than 1280px ----------- */
/*
  fixed header layout
*/
@media only screen and (min-width: 1280px) {
  /*  .top {
      position: fixed;
      top: 0;
      z-index: 1;
      background-size: auto;
    }
    .main {
      margin-top: 500px;
      position: relative;
      z-index: 2;
    }
    aside {
      float: right;
      width: 30%;
      min-width: 282px;
    }
    .main_column {
      width: 100%;
      overflow: hidden;
      padding: 1.5em 4%;
    }*/
  /* line 71, ../sass/imports/mobile.scss */
  .stage {
    min-height: 460px;
  }

  /* line 74, ../sass/imports/mobile.scss */
  .social_nav, .ticket_info {
    font-size: 1em;
  }
}
