<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="canonical" href="http://2013.jsconf.eu{{ page.url | replace:'index.html','' }}" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <!--[if IE]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
      article, aside, dialog, figure, footer, header,
      hgroup, menu, nav, section { display: block; }
    </style>
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/xnk7rre.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="/js/make-the-website-load-slower.js" async></script>
  </head>
  <body>


    <div class="top">


      <header class="header">
        <div class="container">
          <ul class="social_nav">
            <li>
              <span class="ico-twitter" aria-hidden="true"></span> <a href="https://twitter.com/jsconfeu" rel="me">@jsconfeu</a>
            </li>
            <li>
              <span class="ico-google-plus" aria-hidden="true"></span> <a href="https://plus.google.com/114805666032419693531/posts"
                  rel="publisher me">+jsconfeu</a>
            </li>
            <li>
              <span class="ico-youtube" aria-hidden="true"></span> <a href="https://www.youtube.com/jsconfeu" rel="me">YouTube</a>
            </li>
          </ul>


          <div class="tickets tickets_off">
            <a class="button" href="#"><span class="ico-ticket" aria-hidden="true"></span> Tickets: Soon</a>
            <p class="ticket_info">
              Tickets not available yet. <a href="#">&raquo; FAQ</a>
            </p>
          </div>

          <div class="tickets tickets_on">
            <a class="button" href="#"><span class="ico-ticket" aria-hidden="true"></span> Buy Tickets</a>
            <p class="ticket_info">
              Tickets on sale now. <a href="#">&raquo; FAQ</a>
            </p>
          </div>

        </div>
      </header>

      <div class="stage">
        <div class="container">

          <a href="/">
            <h1 class="logo">
              <span class="ico-logo" aria-hidden="true"></span>
              <span class="ico-circle" aria-hidden="true"></span>
            </h1>
          </a>


          <div class="testcircle">
            <span class="char1">j</span>
            <span class="char2">s</span>
            <span class="char3">c</span>
            <span class="char4">o</span>
            <span class="char5">n</span>
            <span class="char6">f</span>
            <span class="char7">.</span>
            <span class="char8">e</span>
            <span class="char9">u</span>
            <span class="char10">&nbsp;</span>
            <span class="char11">B</span>
            <span class="char12">e</span>
            <span class="char13">r</span>
            <span class="char14">l</span>
            <span class="char15">i</span>
            <span class="char16">n</span>
            <span class="char17">&nbsp;</span>
            <span class="char18">s</span>
            <span class="char19">e</span>
            <span class="char20">p</span>
            <span class="char21">t</span>
            <span class="char22">e</span>
            <span class="char23">m</span>
            <span class="char24">b</span>
            <span class="char25">e</span>
            <span class="char26">r</span>
            <span class="char27">&nbsp;</span>
            <span class="char28">1</span>
            <span class="char29">5</span>
            <span class="char30">+</span>
            <span class="char31">1</span>
            <span class="char32">6</span>
            <span class="char33">&nbsp;</span>
            <span class="char34">2</span>
            <span class="char35">0</span>
            <span class="char36">1</span>
            <span class="char37">3</span>
            <span class="char38">&nbsp;</span>
          </div>


        </div>


      </div>


    </div>


    <div class="main">

      <nav>
        <div class="container">
         <ul>
            <li>
              <a href="/news.html">News</a>
            </li>
            <li>
              <a href="/call-for-speakers/">Call for Speakers</a>
            </li>
            <li>
              <a href="/#schedule">Schedule</a>
            </li>
            <li>
              <a href="/#location">Location</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div class="main_column">
         {{content}}
        </div>
      </div>
    </div>

{% comment%}
    <div class="sponsors">
      <div class="container">
        <p>Sponsors go here (white background needed)</p>
      </div>
    </div>
{% endcomment %}

    <footer>
      <div class="container">
        <p>JSConf EU welcomes everyone, and defends you from harassment with our strict <a href="#">anti-jerk policy</a></p>
      </div>
    </footer>

  <script>
    var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-4656061-2']);
    _gaq.push(['_setDomainName', 'jsconf.eu']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  </body>
</html>
