<!DOCTYPE html>
<html>
  <head>
    <title>jsconf.eu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta charset="utf-8" />

    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      article, aside, dialog, figure, footer, header,
      hgroup, menu, nav, section { display: block; }
    </style>


    <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="stylesheets/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico" />

    <script type="text/javascript" src="//use.typekit.net/xnk7rre.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>

    <div class="top">
      <div class="container">


        <header class="header">
          <h1 class="logo">
            <img src="img/jsconf_2013_logo.png" width="282" height="281" alt="Jsconf 2013 Logo">
          </h1>
          <ul class="social_nav">
            <li>
              <a href="#">@jsconfeu</a>
            </li>
            <li>
              <a href="#">plus.google.com/jsconfeu</a>
            </li>
          </ul>
        </header>

        <aside class="sidebar">
          <button>Buy Tickets</button>
          <p class="ticket_info">
            Early Bird: Sold Out <br>
            Next Batch: June 21 2013, 9:00 AM PST
          </p>
        </aside>

      </div>
    </div>


    <div class="main">
      <div class="container">

    {{content}}

      </div>
    </div>

    <footer>
      <div class="container">

        <p>Sponsors go here (white background needed)</p>
        <p>JSConf EU welcomes everyone, and defends you from harassment with our strict anti-jerk policy</p>


      </div>
    </footer>


  </body>
</html>
