<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="canonical" href="http://2013.jsconf.eu{{ page.url | replace:'index.html','' }}" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="google-site-verification" content="H6VZ353SM0CfTqymvhQPM0eLyWffpeRfyRjFlXLwNn0" />
    <!--[if IE]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
      article, aside, dialog, figure, footer, header,
      hgroup, menu, nav, section { display: block; }
    </style>
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/xnk7rre.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="/js/make-the-website-load-slower.js" async></script>
  </head>
  <body{% if page.background %} class="{{ page.background }}"{%endif%}>


    <div class="top">


      <header class="header">
        <div class="container">
          <ul class="social_nav">
            <li>
              <span class="ico-twitter" aria-hidden="true"></span> <a href="https://twitter.com/jsconfeu" rel="me">@jsconfeu</a>
            </li>
            <li>
              <span class="ico-google-plus" aria-hidden="true"></span> <a href="https://google.com/+JSConfEU"
                  rel="publisher me">+jsconfeu</a>
            </li>
            <li>
              <span class="ico-youtube" aria-hidden="true"></span> <a href="https://www.youtube.com/jsconfeu" rel="me">YouTube</a>
            </li>
          </ul>


          <div class="tickets tickets_off">
            <a class="button" href="#"><span class="ico-ticket" aria-hidden="true"></span> Tickets: Soon</a>
            <p class="ticket_info">
              Tickets not available yet. {%comment%}<a href="#">&raquo; FAQ</a>{%endcomment%}
            </p>
          </div>

          <div class="tickets tickets_on">
            <a class="button" href="#"><span class="ico-ticket" aria-hidden="true"></span> Buy Tickets</a>
            <p class="ticket_info">
              Tickets on sale now. <a href="#">&raquo; FAQ</a>
            </p>
          </div>

        </div>
      </header>

      <div class="stage">
        <div class="container">

          <a href="/">
            <h1 class="logo">
              <span class="ico-logo" aria-hidden="true"></span>
              <span class="ico-circle" aria-hidden="true"></span>
            </h1>
          </a>

        </div>


      </div>


    </div>


    <div class="main">

      <nav>
        <div class="container">
         <ul>
            <li>
              <a href="/news.html">News</a>
            </li>
            <li>
              <a href="/call-for-speakers/">Call for Speakers</a>
            </li>
            <li>
              <a href="/schedule/">Schedule</a>
            </li>
            <li>
              <a href="/location/">Location</a>
            </li>
            <li>
              <a href="/sponsoring.html">Sponsoring</a>
            </li>
            <li>
              <a href="/about/">About</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div class="main_column">
         {{content}}
        </div>
      </div>
    </div>

{% comment%}
    <div class="sponsors">
      <div class="container">
        <p>Sponsors go here (white background needed)</p>
      </div>
    </div>
{% endcomment %}

    <footer>
      <div class="container">
        <p>JSConf EU welcomes everyone, and defends you from harassment with our strict <a href="/code-of-conduct.html">anti-jerk policy</a></p>
      </div>
    </footer>

  <script>
    var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-4656061-2']);
    _gaq.push(['_setDomainName', 'jsconf.eu']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '50570251f5a1f57282000003');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
  </body>
</html>
