body {
  font-size: 87.5%;
  margin: 0 auto;
  line-height: 1.5;
  color: $color_dark;
  background-color: $color_l_beige;
}


/* fonts */
body, input, textarea {
  font-family: "rooney-web", Georgia, sans-serif;
}
h1, h2, h3, h4, h5, nav, button {
  font-family: "p22-underground-sc", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  margin: .5em 0;
}

h2 {
  font-size: 1.5em;
  margin: .5em 0;
}


.container {
  margin: 0 auto;
  padding: 0 2%;
  min-width: 280px;
  max-width: 1280px;
}

.header {
  overflow: hidden;
  padding: 2em 0;
  background-color: $color_l_beige;
  color: $color_d_red;
}

.social_nav {
  float: left;
  clear: both;
  list-style: none;
  font-size: .75em;
}
.tickets {
  float: right;
  overflow: hidden;
}
.ticket_info {
  float: left;
  margin: 0 1.5em 0 0;
  padding: .75em 0;
  text-align: right;
  i {
    display: block;
    font-size: .75em;
  }
}
button {
  float: right;
  margin: 0 0 0 0;
  padding: .5em 1em;
  font-size: 1.5em;
  background: $color_pink;
  color: #FFF;
  border: 0;
  border-radius: .25em;
  font-weight: bold;
  @include uppercase;
  text-shadow: -4px 4px 0 $color_d_red;
  cursor: pointer;
  span {
    font-size: 2em;
    padding-right: .25em;
    vertical-align: middle;
  }
}

/* stage */

.stage {
  border-top: 1em solid $color_beige;
  border-bottom: 1em solid $color_beige;
}

.logo {
  margin: 1em 0;
  text-align: right;
}
.logo img {
  width: 100%;
  max-width: 282px;
}

.top {
  width: 100%;
  overflow: hidden;
  background: $color_dark no-repeat 50% 0;
  background-size: 100%;
}
.background1 .top {
  background: url('/img/top_group.jpg')
}
.background0 .top {
  background: url('/img/top_mandy.jpg')
}


/* main content area */
nav {
  @include uppercase;
}

/* sponsors */
.sponsors {
  padding: 2em 0;
  border-top: 1px solid $color_beige;
  background: #FFF;
}

/* footer */
footer {
  padding: 2em 0;
  border-top: .5em solid $color_mint;
  background: $color_d_red;
  color: #FFF;
  text-align: right;
}

/* typography */
p {
  margin-bottom: 1.5em;
}

a,
a:link,
a:visited {
  color: $color_pink;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: $color_pink;
  text-decoration: underline;
}


nav ul {
  margin: 1em 0;
  text-align: center;
  li {
    display: inline-block;
    padding: .2em;
    @include uppercase;
    font-weight: bold;
  }
}

.main {
  padding: 3em 0;
}

.main_column {
  margin: 0 auto;
  background: #FFF;
  overflow: hidden;
}

section {
  margin: 0 0 3em 0;
  padding: 0 3%;
}


article {
  margin-bottom: 1.5em;
  header {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: .1875em solid $color_mint;
  }
}

/* fluid video iframes */
.video_container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.date {
  color: tint($color_dark, 50%);
  font-size: .875em;
  font-style: italic;
}


@mixin rotated-text($num-letters: 38, $angle-span: 360deg, $angle-offset: 0deg) {
  $angle-per-char: $angle-span / $num-letters;
  @for $i from 1 through $num-letters {
    .char#{$i} {
      @include transform(rotate($angle-offset + $angle-per-char * $i))
    }
  }
}


.testcircle {
  display: none;
  @include rotated-text;
  @include uppercase;
  color: #FFF;
  position: fixed;
  top: 1em;
  left: 12em;
  vertical-align: middle;
  span {
    font: 14px Monaco, MonoSpace;
    height: 200px;
    position: absolute;
    width: 20px;
    left: 0;
    top: 0;
    transform-origin: 50% 50%;
  }
}