/* --------------- Screens bigger than 580px ----------- */
@media only screen and (min-width: 580px) {
  body {
    font-size: 100%;
  }
  .social_nav {
    float: left;
    clear: both;
    margin-bottom: 0;
    li {
      display: block;
      margin: 0;
    }
  }
  nav {
    li {
      padding: .2em 1em;
    }
  }
  .tickets {
    float: right;
    overflow: hidden;
  }
  .social_nav, .ticket_info {
    font-size: .875em;
  }
}


/* --------------- Screens bigger than 1024px ----------- */
@media only screen and (min-width: 1024px) {
  .top {
    position: fixed;
    top: 0;
    z-index: 1;
    background-size: auto;
  }
  .main {
    margin-top: 500px;
    position: relative;
    z-index: 2;
  }
  aside {
    float: right;
    width: 30%;
    min-width: 282px;
  }
  .main_column {
    width: 100%;
    overflow: hidden;
    padding: 1.5em 4%;
  }
}

/* --------------- Screens bigger than 1280px ----------- */
@media only screen and (min-width: 1280px) {
  .social_nav, .ticket_info {
    font-size: 1em;
  }
}